*.exe

*.sln

*.suo
*.vcxproj

*.filters

*.user

*.manifest
*.res

*.ilk

*.lastbuildstate

/ACMsgu/110/Debug/*.log

*.log
*.pdb

*.rc
*.tlog

*.obj

*.idb

*.cbp

*.o
*.depend

*.layout

*.zip

*.xslt

*.XML

*.xlsx

*.xls

*.vcproj

*.tex

*.sty

*.rar

*.ps

*.properties

*.pro

*.png

*.pdf

*.pcx

*.pas

01
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
Makefile
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
09
08
07
06
05
04
03
02
01
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
09
08
07
06
05
04
03
02
01
testdesc
09
08
07
06
05
04
03
02
01
02
01
57
12
15
14
13
12
11
10
09
08
07
06
05
04
03
02
01
testdesc
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
09
08
07
06
05
04
03
02
01
nice-tests-2
nice-tests
06
05
04
03
02
01
testdesc
16
15
14
13
12
11
10
09
08
07
06
05
04
03
02
01
12
11
10
09
02
01
readme
CHEM.BAK
4_12_9.ans
4_12_8.ans
4_12_7.ans
4_12_6.ans
4_12_5.ans
4_12_4.ans
4_12_3.ans
4_12_2.ans
4_12_10.ans
4_12_1.ans
3_9_4.ans
3_9_3.ans
3_9_2.ans
3_9_1.ans
3_8_8.ans
3_8_7.ans
3_8_6.ans
3_8_5.ans
3_8_4.ans
3_8_3.ans
3_8_2.ans
3_8_1.ans
3_6_5.ans
3_6_4.ans
3_6_3.ans
3_6_2.ans
3_6_1.ans
3_3_6.ans
3_3_5.ans
3_3_4.ans
3_3_3.ans
3_3_2.ans
3_3_1.ans
3_10_7.ans
3_10_6.ans
3_10_5.ans
3_10_4.ans
3_10_3.ans
3_10_2.ans
3_10_1.ans
50.a
49.a
48.a
47.a
46.a
45.a
44.a
43.a
42.a
41.a
40.a
39.a
38.a
37.a
36.a
35.a
34.a
33.a
32.a
31.a
30.a
29.a
28.a
27.a
26.a
25.a
24.a
23.a
22.a
21.a
20.a
19.a
18.a
17.a
16.a
15.a
14.a
13.a
12.a
11.a
10.a
09.a
08.a
07.a
06.a
05.a
04.a
03.a
02.a
01.a
50.a
49.a
48.a
47.a
46.a
45.a
44.a
43.a
42.a
41.a
40.a
39.a
38.a
37.a
36.a
35.a
34.a
33.a
32.a
31.a
30.a
29.a
28.a
27.a
26.a
25.a
24.a
23.a
22.a
21.a
20.a
19.a
18.a
17.a
16.a
15.a
14.a
13.a
12.a
11.a
10.a
09.a
08.a
07.a
06.a
05.a
04.a
03.a
02.a
01.a
50.a
49.a
48.a
47.a
46.a
45.a
44.a
43.a
42.a
41.a
40.a
39.a
38.a
37.a
36.a
35.a
34.a
33.a
32.a
31.a
30.a
29.a
28.a
27.a
26.a
25.a
24.a
23.a
22.a
21.a
20.a
19.a
18.a
17.a
16.a
15.a
14.a
13.a
12.a
11.a
10.a
09.a
08.a
07.a
06.a
05.a
04.a
03.a
02.a
01.a
teams.56a
teams.56
teams.55a
teams.55
teams.54a
teams.54
teams.53a
teams.53
teams.52a
teams.52
teams.51a
teams.51
teams.50a
teams.50
teams.49a
teams.49
teams.48a
teams.48
teams.47a
teams.47
teams.46a
teams.46
teams.45a
teams.45
teams.44a
teams.44
teams.43a
teams.43
teams.42a
teams.42
teams.41a
teams.41
teams.40a
teams.40
teams.39a
teams.39
teams.38a
teams.38
teams.37a
teams.37
teams.36a
teams.36
teams.35a
teams.35
teams.34a
teams.34
teams.33a
teams.33
teams.32a
teams.32
teams.31a
teams.31
teams.30a
teams.30
ill.3
teams.29a
teams.29
teams.28a
teams.28
teams.27a
teams.27
teams.26a
teams.26
teams.25a
teams.25
teams.24a
teams.24
teams.23a
teams.23
teams.22a
teams.22
teams.21a
teams.21
library.20a
teams.20a
library.20
teams.20
ill.2
library.19a
teams.19a
library.19
teams.19
pairs.18a
library.18a
teams.18a
pairs.18
library.18
teams.18
pairs.17a
library.17a
teams.17a
wall.17
pairs.17
library.17
teams.17
pairs.16a
library.16a
wall.16a
teams.16a
wall.16
pairs.16
library.16
wall.16
teams.16
sum.15a
pairs.15a
library.15a
wall.15a
teams.15a
wall.15
sum.15
pairs.15
library.15
wall.15
teams.15
sum.14a
pairs.14a
library.14a
wall.14a
teams.14a
wall.14
sum.14
pairs.14
library.14
wall.14
teams.14
sum.13a
pairs.13a
library.13a
wall.13a
cable.13a
bracket.13a
teams.13a
wall.13
sum.13
pairs.13
library.13
wall.13
cable.13
bracket.13
teams.13
sum.12a
pairs.12a
library.12a
stat.12a
wall.12a
cable.12a
bracket.12a
teams.12a
wall.12
sum.12
pairs.12
library.12
stat.12
wall.12
cable.12
bracket.12
teams.12
sum.11a
pairs.11a
library.11a
stat.11a
wall.11a
cable.11a
bracket.11a
teams.11a
wall.11
sum.11
pairs.11
library.11
stat.11
wall.11
cable.11
bracket.11
teams.11
sum.10a
pairs.10a
library.10a
stat.10a
wall.10a
cable.10a
bracket.10a
teams.10a
wall.10
sum.10
pairs.10
library.10
stat.10
wall.10
cable.10
bracket.10
teams.10
ill.1
farmer.1
sum.09a
pairs.09a
library.09a
stat.09a
chem.09a
wall.09a
cable.09a
bracket.09a
teams.09a
wall.09
sum.09
pairs.09
library.09
stat.09
chem.09
wall.09
cable.09
bracket.09
teams.09
sum.08a
pairs.08a
library.08a
stat.08a
chem.08a
wall.08a
cable.08a
bracket.08a
teams.08a
wall.08
sum.08
pairs.08
library.08
stat.08
chem.08
wall.08
cable.08
bracket.08
teams.08
sum.07a
pairs.07a
library.07a
stat.07a
chem.07a
wall.07a
cable.07a
bracket.07a
teams.07a
wall.07
sum.07
pairs.07
library.07
stat.07
chem.07
wall.07
cable.07
bracket.07
teams.07
sum.06a
pairs.06a
library.06a
stat.06a
chem.06a
wall.06a
cable.06a
bracket.06a
teams.06a
wall.06
sum.06
pairs.06
library.06
stat.06
chem.06
wall.06
cable.06
bracket.06
teams.06
sum.05a
pairs.05a
library.05a
stat.05a
chem.05a
wall.05a
cable.05a
bracket.05a
teams.05a
wall.05
sum.05
pairs.05
library.05
stat.05
chem.05
wall.05
cable.05
bracket.05
teams.05
sum.04a
pairs.04a
library.04a
stat.04a
chem.04a
wall.04a
cable.04a
bracket.04a
teams.04a
wall.04
sum.04
pairs.04
library.04
stat.04
chem.04
wall.04
cable.04
bracket.04
teams.04
sum.03a
pairs.03a
library.03a
stat.03a
chem.03a
wall.03a
cable.03a
bracket.03a
teams.03a
wall.03
sum.03
pairs.03
library.03
stat.03
chem.03
wall.03
cable.03
bracket.03
teams.03
sum.02a
pairs.02a
library.02a
stat.02a
chem.02a
wall.02a
cable.02a
bracket.02a
teams.02a
wall.02
sum.02
pairs.02
library.02
stat.02
chem.02
wall.02
cable.02
bracket.02
teams.02
sum.01a
pairs.01a
library.01a
stat.01a
chem.01a
wall.01a
cable.01a
bracket.01a
teams.01a
wall.01
sum.01
pairs.01
library.01
stat.01
chem.01
wall.01
cable.01
bracket.01
teams.01

*.txt

*.tst

*.out

*.old

*.ncb

*.mtl

*.mp

*.md2

*.md

*.lst

*.lib

*.jpg

k_re.java
j_re.java
d_re.java
c_re.java
a_re.java
OutputFile.java
Outcome.java
NativeInvokeService.java
InputFile.java
OutputFileImpl.java
InvokeNT.java
InvocationStatus.java
InvocationResultNT.java
InvocationRequestNT.java
InvocationCallback.java
InputFileImpl.java
TestResult.java
Test.java
ReportGen.java
Report.java
Program.java
Main.java
Language.java
Jury.java
FileUtils.java
report.jar

*.ini

*.inf

*.inc

*.ina

*.in

*.html

*.htm

OGLtest

tutorial32

tutorial31

*.docx

*.gif

*.dvi

*.dsc

*.dpr

*.doc

*.dll

*.dfm

*.desc

*.dep

*.cvsignore

*.css

*.csproj

*.cmd

*.class

*.cbTemp

*.cache

*.bat
